.Normal_text {font-family:'Raleway';font-weight:normal;font-style:normal;font-size:16px;text-decoration:none;text-transform: none;color:#333333;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Heading_1 {font-family:'xr2_Poppins';font-weight:bold;font-style:normal;font-size:40px;text-decoration:none;text-transform: none;color:#333333;-webkit-text-stroke: 0px black;letter-spacing:0em;}
.Normal_text_7 {font-size:13px;color:#FFFFFF;}
.Heading_2 {font-size:32px;}
.Normal_text_1 {color:#FFFFFF;}
.Heading_3 {font-size:24px;}
.Normal_text_6 {font-size:12px;color:#000000;}
.Normal_text_5 {font-size:18px;}
.Heading_4 {font-family:'xr12_Raleway1';font-weight:bold;}
.Normal_text_3 {font-size:18px;color:#DFEAE5;}
.Normal_text_4 {font-size:13.86px;color:#DFEAE5;}
